@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  /* Base Colors */

  --main-bgcolor: #121430;
  --secondary-bgcolor: #1e2142;
  --search-bgcolor: #25284b;
  --white: #ffffff;
  --black: #000000;
  --green: #008000;
  --orange: #ffb155;
  --gray: #808080;
  --lightgrey: #c5d3e0;
  --violet: #ee82ee;
  --lightgreen: #89dca0;
  --pink: #ffc0cb;
  --blue: #0000ff;
  --skyblue: #35a0dc;
  --red: #ff5252;
  --primary-color: #339cfd;
  --text-light-color: #9a9b9f;
  --disabled-color: #7e7e7e;

  /* Font Family */

  --font-main: "Montserrat";
  --font-secondary: "Lato";

  /* Font Size */

  --font-xxs: 12px;
  --font-xs: 14px;
  --font-md: 16px;
  --font-lg: 18px;
  --font-xl: 20px;
  --font-xxl: 24px;
  --font-xxxl: 26px;
  --font-xxxxl: 32px;

  /* Font Weight */

  --font-thin: 100;
  --font-extra-light: 200;
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-extra-bold: 800;
  --font-black: 900;

  /* Breakpoints */

  --breakpoint-xs: 360px;
  --breakpoint-sm: 568px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1280px;
  --breakpoint-xxl: 1920px;
}

/* Normal CSS for FormItem */
.FormItem {
  margin-bottom: 0.75rem;
}

.FormItem .ant-form-item-control-input {
  min-height: 3.125rem;
}

.FormItem .ant-form-item-explain-error {
  font-size: 0.875rem;
}

.FormItem label {
  font-family: var(--font-main);
  color: var(--primary-color) !important;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.FormItem
  .ant-form-item-has-feedback
  .ant-input-affix-wrapper
  .ant-input-suffix {
  padding-right: 1.5rem;
}

.FormInput .ant-input,
.SearchInput .ant-input {
  background: transparent !important;
  font-size: var(--font-md);
  color: var(--white);
  background: transparent;
}
.SearchInput .ant-input::placeholder {
  font-size: var(--font-lg);
  margin-left: 2px !important;
  color: var(--lightgrey);
}
.SearchInput .ant-input-prefix {
  margin-inline-end: 10px;
}

.ant-input-affix-wrapper .anticon.ant-input-password-icon {
  color: var(--disabled-color);
}
.ant-input-affix-wrapper .anticon.ant-input-password-icon:hover {
  color: var(--white);
}

.ant-checkbox-inner {
  border-radius: 3px;
  transform: scale(1.375);
}

.ant-checkbox-input {
  transform: scale(1.375);
}

/* antd menu styling  */
.ant-menu-light .ant-menu-item-selected,
.ant-menu-light .ant-menu-item-active .ant-menu-item-selected,
.ant-menu-light .ant-menu-item-selected:hover {
  background-color: transparent !important;
  border-right: 1px solid var(--primary-color);
  border-radius: 0px !important;
  color: var(--primary-color) !important;
  margin-right: 0px;
  margin-left: 8px;
}

.ant-menu-item {
  margin-left: 8px !important;
}

.ant-menu-light .ant-menu-item-active {
  color: var(--primary-color) !important;
}

/* antd button styling*/
.ant-btn-primary {
  color: #fff;
  border-color: var(--primary-color);
  background: var(--primary-color);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
}

.ant-btn {
  height: 50px;
}

/* verification input */
.verifyCodeInput {
  display: flex;
  gap: 0.625rem;
}

.character {
  line-height: 5rem;
  font-size: var(--font-xxl);
  font-weight: var(--font-bold);
  color: var(--text-main-color);
  border: 3px solid var(--lightgrey) !important;
  border-radius: 0.625rem;
  width: 3.4375rem;
  height: 5rem;
}

.character--inactive {
  border: 3px solid var(--lightgrey);
}

.character--selected {
  border: 3px solid var(--primary-color);
}

/* antd drawer  */
.ant-drawer-header,
.ant-drawer-content-wrapper,
.ant-drawer-content {
  width: 260px !important;
  background-color: var(--main-bgcolor);
}

.ant-menu-light {
  background-color: var(--main-bgcolor);
  color: var(--white) !important;
  font-size: var(--font-md) !important;
  font-weight: var(--font-medium) !important;
}

.ant-drawer-title {
  color: var(--lightgrey) !important;
  font-size: var(--font-lg) !important;
  font-weight: var(--font-bold) !important;
}

.ant-drawer-body {
  padding: 0px !important;
  background-color: var(--main-bgcolor);
}

/* antd progress  styling*/
.ant-progress.ant-progress-circle .ant-progress-text {
  color: var(--white);
  font-size: var(--font-md);
  font-weight: var(--font-bold);
}

/* antd table  styling*/

.ant-table-wrapper .ant-table {
  color: var(--white);
  border-radius: 0px !important;
  background-color: var(--search-bgcolor);
}
.ant-table-thead > tr > th {
  background-color: var(--search-bgcolor) !important;
  color: var(--primary-color) !important;
}

.ant-table-tbody > tr:hover > td {
  background-color: transparent !important;
}
.ant-table-wrapper .ant-table-pagination > * {
  border: 1px solid var(--lightgrey) !important;
  border-radius: 0px !important;
}

.ant-pagination .ant-pagination-item a,
.ant-pagination .ant-pagination-item-link {
  color: var(--lightgrey) !important;
}
